<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <script type="text/javascript"></script>
    <meta
      name="viewport"
      content="initial-scale=1.0, user-scalable=no, width=device-width"
    />
    <style type="text/css">
      h3 {
        font-size: 1.17em;
        line-height: 1.4;
        font-weight: bold;
        margin: 2px;
      }
      hr {
        margin: 1px;
      }
      html,
      body {
        width: 100%;
        height: 100%;
        margin: 0px;
      }
      .map {
        height: 100%;
        width: 100%;
        float: left;
      }
      #mapDiv .amap-indoormap-floorbar-control {
        bottom: 10%;
      }
    </style>
    <title>室内地图</title>
  </head>
  <body>
    <div id="mapDiv" class="map" tabindex="0"></div>
    <div id="map-zoom" style="position: absolute;top:0;background-color: red;">111111</div>
    <script
      type="text/javascript"
      src="https://webapi.amap.com/maps?v=1.4.15&key=bbb90ebf522f5705ef272c197c2cc26e&plugin=AMap.ToolBar"
    ></script>
    <!-- <script
      type="text/javascript"
      src="https://webapi.amap.com/demos/js/liteToolbar.js"
    ></script> -->
    <script type="text/javascript">
      var map = new AMap.Map("mapDiv", {
        expandZoomRange:true,
        resizeEnable: true,
        center: [116.518542, 39.924677],
        zoom: 18
      });
      map.on("indoor_create", function() {
        map.indoorMap.showIndoorMap("B000A856LJ", 5);
      });
      function mapZoomend(){
        logMapinfo()
        document.querySelector("#text").innerText = '缩放结束';
    }
      map.on('zoomend', mapZoomend);
      var logMapinfo = function (){
        var zoom = map.getZoom(); //获取当前地图级别
        document.querySelector("#map-zoom").innerText = zoom;
    };
    logMapinfo();
    </script>
    <!-- <script
      type="text/javascript"
      src="https://webapi.amap.com/demos/js/liteToolbar.js"
    ></script> -->
  </body>
</html>
